.boukanos {
  background-color: $beige;
  width: 469px;
  height: 569px;
  color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2,
  p {
    text-align: center;
  }
}

.bloc-boukanos {
  display: flex;
  @media (max-width: $mobile_lg) {
    flex-direction: column;
    img {
        width: 100%;
    }
  }
}
